
.labels {
    font-size: 11px
}


#centerit{
    display: flex !important;
    flex-wrap: wrap !important;
    width: 235px !important;
    grid-gap: 20px 5px !important;
    gap: 20px 30px !important;
    justify-content: center;
    margin: auto;
}
.studies{
    display: grid;
    grid-template-columns: 175px 175px;
    column-gap: 30px;
}