.cardImage {
position: relative;
max-width: 500px;
transform: translate(-50%,-10%);
left: 50%;
  }
        
.mainImage{
  object-fit: cover;
  /* width: 100%; */
/*  
  position: fixed; 
  top: 0;
  z-index: -5; */
}

.card{
  background-color: transparent !important;
}

body{
  background-color: #082032 !important;
}
